/* Google fonts import */
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    background-image: url('../images/background.jpg'); /* Path to your local image file */
    background-size: cover; /* Cover the entire background */
    background-repeat:repeat;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}


/* Header */
header {
    background-color: rgba(211, 211, 211, 0.815);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgba(56, 56, 56, 0.425);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 80px;
}

/* Footer */
footer {
    background-color: orange;
}

.header-nav{
    position: absolute;
    background-color: rgba(211, 211, 211, 0.815);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    align-items: center;
    text-align: center;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    vertical-align: middle;
}

/* Styles for Nav elements */
.nav-element {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 110%;
    color: rgba(56, 56, 56, 0.822);
}
.socialmedia-icon1, .socialmedia-icon2 {
    max-width: 50px;

}

.logo-header {
    max-width: 200px;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: baseline;
}

/* Media query for tablets */
@media screen and (min-width: 768px) {
/*header*/
    header {
        padding-left: 1rem;
    }

    .logo-header {
        padding-right: 1rem;
    }

    .header-nav {
        display: block;
        position: relative;
        background-color:transparent;
        box-shadow: none;
        padding: 0;
    }

    #menu {
        display: flex;
        letter-spacing: 0px;
    }
    
    #menu > li {
        padding: 0% 1%;
        display: inline-block;
        margin: 0;
        text-align: center;
    }

    .nav-toggle-label {
        display: none;
    }

    .nav-element {
        font-size: 80%;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
        align-items: end;
    }
    
    .socialmedia-icon1,.socialmedia-icon2 {
        min-width: 20px;
        min-height: 20px;
    }

    .socialmedia-icon1 {
        padding-left: 20px;
    }
    

}
